# Service description for Anker Solix custom integration

get_solarbank_schedule:
  target:
    entity:
      integration: anker_solix
      domain: sensor
      # anker_solix.AnkerSolixEntityFeature.SOLARBANK_SCHEDULE is not resolved by HA core when frontend is loaded and does not work as filter
      # therefore a proper core domain feature is used as filter that resolves to same IntFlag as used in AnkerSolixEntityFeature
      supported_features:
        - calendar.CalendarEntityFeature.CREATE_EVENT
set_solarbank_schedule:
  target:
    entity:
      integration: anker_solix
      domain: sensor
      # anker_solix.AnkerSolixEntityFeature.SOLARBANK_SCHEDULE is not resolved by HA core when frontend is loaded and does not work as filter
      # therefore a proper core domain feature is used as filter that resolves to same IntFlag as used in AnkerSolixEntityFeature
      supported_features:
        - calendar.CalendarEntityFeature.CREATE_EVENT
  fields:
    start_time:
      required: true
      example: "00:00:00"
      default: "00:00:00"
      selector:
        time:
    end_time:
      required: true
      example: "23:59:00"
      default: "23:59:00"
      selector:
        time:
    appliance_load:
      required: false
      example: 100
      default: 100
      selector:
        number:
          min: 0
          max: 800
          step: 10
          unit_of_measurement: "W"
    allow_export:
      required: false
      example: "True"
      selector:
        boolean:
    charge_priority_limit:
      required: false
      example: 80
      default: 80
      selector:
        number:
          min: 0
          max: 100
          step: 5
          unit_of_measurement: "%"
update_solarbank_schedule:
  target:
    entity:
      integration: anker_solix
      domain: sensor
      # anker_solix.AnkerSolixEntityFeature.SOLARBANK_SCHEDULE is not resolved by HA core when frontend is loaded and does not work as filter
      # therefore a proper core domain feature is used as filter that resolves to same IntFlag as used in AnkerSolixEntityFeature
      supported_features:
        - calendar.CalendarEntityFeature.CREATE_EVENT
  fields:
    start_time:
      required: true
      example: "00:00:00"
      default: "00:00:00"
      selector:
        time:
    end_time:
      required: true
      example: "23:59:00"
      default: "23:59:00"
      selector:
        time:
    appliance_load:
      required: false
      example: 0
      default: 100
      selector:
        number:
          min: 0
          max: 800
          step: 10
          unit_of_measurement: "W"
    allow_export:
      required: false
      example: "True"
      selector:
        boolean:
    charge_priority_limit:
      required: false
      example: 80
      default: 80
      selector:
        number:
          min: 0
          max: 100
          step: 5
          unit_of_measurement: "%"
